/* RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* BASE STYLING */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

html {

  --accent-color: rgba(12, 67, 88, 0.7);

  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--accent-color);

}

/* HEADER */

.home-header {
  max-width: 100%;
  animation: fade-in 0.4s;

}

.home-nav {
  display: flex;
  max-width: 1200px;
  padding: 25px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.px-logo {
  font-size: 30px;
  font-weight: 700;
  color: #EEEFF3;
}

.home-link {
  color: #EEEFF3;
  font-size: 14px;
}

/* MAIN */

.main {
  max-width: 1150px;
  height: 800px;
  background-color: #EEEFF3;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 35px;
  box-shadow: 0 4px 44px var(--accent-color);
  animation: fade-in 0.4s 0.1s backwards;
}


/* FOOTER */

.home-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  padding-bottom: 50px;
}

.copyright {
  color: #EEEFF3;
  font-size: 14px;
  text-align: center;

}
