.main {
    height: 500px;
}
.plot-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 35px;
}

.input-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 225px;
    justify-content: space-between;
    align-items: center;
}

.freefall-label {
    margin-bottom: 25px;
    margin-right: 25px;
    font-size: 20px;

}

.freefall-input {
    margin-bottom: 25px;
    border-radius: 10px;
    padding-left: 15px;
    text-align: right;
    font-size: 20px;
    width: 100px;
}

.form-button {
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    border-radius: 3px;
    color: #fff;
    background-color: var(--accent-color);
}

.fig-section {
    width: 400px;
    height: 400px;
}
